
section {
    padding: 10px;
}
.photo{
    width: calc(100% + 3rem);
}

:host-context(.post-list) .photo {
    max-width: 200px;
}
:host-context(.post-list) .post {
    max-width: 200px;
    flex: 1 1 calc(33.33% -10px);
    background-color: #fff;
    margin: 10px;
}
