
section {
    padding: 10px;
}


:host-context(.post-list) .photo {
    max-width: 200px;
}

:host-context(.post-detail) .photo {
    min-height: 70vh;
}
:host-context(.post-list) .post {
    max-width: 200px;
    flex: 1 1 calc(33.33% -10px);
    background-color: #fff;
    margin: 10px;
}

footer{
    display: flex;
    justify-content: space-between;
}


button{
    align-self: flex-start;
    height: 2rem;
    font-size: 1rem;
    border: none;
    background: #92d6d2;
    color: #fff;
    flex: 0.48;
}
